/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Some persons create css files for each components. */

/* .main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/*.mainBlock__container {
  width: 90%;
  display: grid;*/
/*grid-template-columns: repeat(4, 1fr);*/ /* 4 means 4 times */
/*grid-template-rows: auto;
  gap: 20px;
}*/

/* .mainBlock__container img {
  width: 100%;
  object-fit: contain;
}

.mainBlock__container .mainBlock__details p {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.header__container {
  /* Properties */
  width: 100vw /*%*/;
  /* overflow-x: hidden; */
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgb(255, 238, 238);
  position: /*fixed*/ sticky; /* sticky is not worked in some browsers. */
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container nav {
  position: relative;
  /* overflow: hidden; */
}

.header__container nav ul {
  overflow: hidden;
  position: absolute;
  top: /*0*/ /*-22px*/ -22px;
  right: /*0*/ /*-22px*/ -20px;
  padding: 20px /*50px 50px*/; /* top right bottom left */
  height: 100vh; /* vh = view height */
  background-color: rgb(255, 154, 154);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: all 400ms ease-in;
}

.header__container .header__menuClose {
  cursor: pointer; /* Change the arrow cursor to a hand cursor. Clickable behaviour to the close icon. */
}

.header__container .header__menu {
  margin: 50px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.header__container nav ol {
  display: none; /* It does not see in normal situation. */
}

.header__container nav ul li {
  cursor: pointer; /* Change the arrow cursor to a hand cursor. Clickable behaviour to the li content. */
  font-weight: 700;
  transition: all 400ms ease-in; /* Decides the way how animation look like. */
}

.header__container nav ul li:hover {
  /* hover is an effect. */
  color: red;
}

.main__container {
  margin: 0 auto; /* This center the element to the middle. This says that top and bottom are 0 and left and right are auto. Then it normally center the element to the middle.*/
  width: 90%;
  display: grid;
  grid-template-columns: /*repeat(2, 1fr)*/ 40% 60%; /* 40% for left side and 60% for right side */
  grid-template-rows: 1;
  overflow-x: hidden;
}

.main__container .main_left {
  /* main_left is inside of the main__container. */
  /* margin-right: 20px; */
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main__container .main_left input {
  /* This is to take the full lenghth for the input boxes. */
  width: 100%;
  padding: 7px; /* This padding is applied around the words inside of the input boxes. */
}

.main__container .main_right {
  /* main_right is inside of the main__container. */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px;
}

.main__container .main_right .unit__container img {
  width: 100%;
  object-fit: contain;
}

.main__container .main_right .unit__container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* It is necessary to apply media queries at the bottom. This is to change the navbar between desktop and mobile states.*/
@media only screen and (min-width: 768px) {
  .header__container nav ul,
  .header__container nav .header__menuClick {
    display: none;
  }

  .header__container nav ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header__container nav ol li {
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease-in;
  }

  .header__container nav ol li:hover {
    color: red;
  }
}
