/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Some persons create css files for each components. */

/* .main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/*.mainBlock__container {
  width: 90%;
  display: grid;*/
/*grid-template-columns: repeat(4, 1fr);*/ /* 4 means 4 times */
/*grid-template-rows: auto;
  gap: 20px;
}*/

/* .mainBlock__container img {
  width: 100%;
  object-fit: contain;
}

.mainBlock__container .mainBlock__details p {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.main__container {
  margin: 0 auto; /* This center the element to the middle. This says that top and bottom are 0 and left and right are auto. Then it normally center the element to the middle.*/
  width: 90%;
  display: grid;
  grid-template-columns: /*repeat(2, 1fr)*/ 40% 60%; /* 40% for left side and 60% for right side */
  grid-template-rows: 1;
}

.main__container .main_left {
  /* main_left is inside of the main__container. */
  /* margin-right: 20px; */
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main__container .main_left input {
  /* This is to take the full lenghth for the input boxes. */
  width: 100%;
  padding: 7px; /* This padding is applied around the words inside of the input boxes. */
}

.main__container .main_right {
  /* main_right is inside of the main__container. */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px;
}

.main__container .main_right .unit__container img {
  width: 100%;
  object-fit: contain;
}

.main__container .main_right .unit__container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
